/* A Tag Button Style */

.et_pb_button,
.button {
  font-family: "Raleway", sans-serif;
  color: #fff !important;
  font-weight: 400 !important;
  text-transform: uppercase !important;
  border: 3px solid white !important;
  border-radius: 90px !important;
  background: $salmon !important;
  background: linear-gradient(to bottom, $salmon 0%, #250f25 100%) !important;
  box-shadow: 0 0 4px rgba(0, 0, 0, .50) !important;
}


/*

.et_divi_builder .entry-content #et_builder_outer_content a.et_pb_button:after, .et_divi_builder .entry-content #et_builder_outer_content a.et_pb_button:before {
  display: none;
}

.et_divi_builder .entry-content #et_builder_outer_content a.et_pb_button:hover {
  color: #fff;
  background: #c30737;
  background: linear-gradient(to bottom, #c30737 0%, #69001b 100%);
}


.bluegradient, .et_divi_builder #et_builder_outer_content .et_pb_section.home-service .service .et_pb_button:hover, #primary .comment-form input[type="submit"] {
  background: #1c2025;
  border: 3px solid #8d8f92;
}

.blackgradient, .et_divi_builder #et_builder_outer_content .et_pb_section.home-service .service .et_pb_button, #primary .comment-form input[type="submit"]:hover {
  border-color: #752700;
  background: #3598dc;
  color: #fff;
}

.woocommerce ul.products li.product .button {
  color: #fff;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #3598dc 0%, #2a80b9 100%) repeat scroll 0 0;
  text-transform: uppercase;
  border: 2px solid #000;
  font-weight: 400;
  line-height: 33px;
  padding: 0 15px;
  font-size: 16px;
  display: inline-block;
  margin-left: 7px;
  margin-right: 7px;
}

.woocommerce ul.products li.product .button:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, $salmon 0%, #ab1001 100%) repeat scroll 0 0;
  border-color: #000;
}


.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  color: #fff;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #3598dc 0%, #2a80b9 100%) repeat scroll 0 0;
  text-transform: uppercase;
  border: 2px solid #000;
  font-weight: 400;
  line-height: 33px;
  padding: 0 15px;
  font-size: 16px;
  display: inline-block;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, $salmon 0%, #ab1001 100%) repeat scroll 0 0;
  border-color: #000;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  color: #fff;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #3598dc 0%, #2a80b9 100%) repeat scroll 0 0;
  text-transform: uppercase;
  border: 2px solid #000;
  font-weight: 400;
  line-height: 33px;
  padding: 0 15px;
  font-size: 16px;
  display: inline-block;
}

.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, $salmon 0%, #ab1001 100%) repeat scroll 0 0;
  border-color: #000;
}

.woocommerce .woocommerce-error .button, .woocommerce .woocommerce-info .button, .woocommerce .woocommerce-message .button {
  margin-left: 15px;
}

.et_divi_builder #et_builder_outer_content .et_pb_module ul.wc_payment_methods li:before, .et_divi_builder #et_builder_outer_content .et_pb_module ul.woocommerce-error li:before, .et_divi_builder #et_builder_outer_content .et_pb_module ul.woocommerce-thankyou-order-details li:before {
  display: none;
  visibility: hidden;
}

#et_builder_outer_content .woocommerce .cart .button, .woocommerce .cart input.button {
  color: #fff;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #3598dc 0%, #2a80b9 100%) repeat scroll 0 0;
  border: 2px solid #000;
  font-weight: 400;
  padding: 0 10px;
  line-height: 45px;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 700;
}

#et_builder_outer_content .woocommerce .cart .button:hover, #et_builder_outer_content .woocommerce .cart input.button:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, $salmon 0%, #ab1001 100%) repeat scroll 0 0;
  border-color: #000;
}

#et_builder_outer_content .woocommerce .wc-proceed-to-checkout .checkout-button.button.alt {
  color: #fff;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, $salmon 0%, #ab1001 100%) repeat scroll 0 0;
  border: 2px solid #000;
  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 3px;
}

#et_builder_outer_content .woocommerce .wc-proceed-to-checkout .checkout-button.button.alt:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #3598dc 0%, #2a80b9 100%) repeat scroll 0 0;
  border-color: #000;
}

.woocommerce-checkout #et_builder_outer_content .woocommerce input.button:hover {
  color: #fff;
  border-color: #000;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #3598dc 0%, #2a80b9 100%) repeat scroll 0 0;
}

.woocommerce-checkout #et_builder_outer_content .woocommerce input.button {
  color: #fff;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, $salmon 0%, #ab1001 100%) repeat scroll 0 0;
  border: 2px solid #000;
  font-weight: 600;
  padding: 0px 20px;
  font-size: 16px;
  border-radius: 3px;
  line-height: 32px;
}

.woocommerce-checkout #payment .place-order .button {
  margin-top: 15px;
}

.et_divi_builder #et_builder_outer_content .et_pb_section .login .lost_password a, .et_divi_builder #et_builder_outer_content .et_pb_section .login input.button, .et_divi_builder #et_builder_outer_content .et_pb_section .register input.button, .et_divi_builder #et_builder_outer_content .et_pb_section .return-to-shop a, .et_divi_builder #et_builder_outer_content .et_pb_section .lost_reset_password input.button {
  width: auto;
  border: 2px solid #000;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #3598dc 0%, #2a80b9 100%) repeat scroll 0 0;
  color: #fff;
  padding: 0 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  display: inline-block;
  line-height: 32px;
  margin-bottom: 25px;
}
.woocommerce #content table.cart td.actions .button, .woocommerce #content table.cart td.actions .input-text, .woocommerce #content table.cart td.actions input, .woocommerce table.cart td.actions .button, .woocommerce table.cart td.actions .input-text, .woocommerce table.cart td.actions input, .woocommerce-page #content table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions input, .woocommerce-page table.cart td.actions .button, .woocommerce-page table.cart td.actions .input-text, .woocommerce-page table.cart td.actions input {
  width: auto;
}
.woocommerce .shop_table td.actions .button {
  margin: 0 auto !important;
  float: none;
}
.woocommerce #content table.cart td.actions .coupon .button {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}
.woocommerce table.shop_table .actions .button {
  float: none;
  margin: 0 auto;
}
.woocommerce .woocommerce-error .button, .woocommerce .woocommerce-info .button, .woocommerce .woocommerce-message .button {
  margin: 0px 15px 15px 0px;
  float: none;
  display: inline-block;
}
.woocommerce #content table.cart td.actions .button {
  float: none;
}
.et_divi_builder #et_builder_outer_content .et_pb_module .checkout_coupon input.button {
  text-align: center;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  text-align: center;
}
.et_divi_builder #et_builder_outer_content .et_pb_fullwidth_header .et_pb_fullwidth_header_container .header-content a.et_pb_button {
  margin-top: 20px;
  display: inline-block;
  float: right;
}
*/