@import "my-account";
@import "loop";
/*
.wooToggle {
  float: left;
  padding: 7px;
  line-height: 0px;
  height: 15px;
  width: 15px;
  border-radius: 90px;
  border: 3px solid white;
  background: $salmon;
  background: linear-gradient(to bottom, $salmon 0%, #250f25 100%) !important;
  box-shadow: 0 0 4px rgba(0, 0, 0, .50) !important;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.widget_product_categories {
  .children {
    display: none;
  }
  .toggled > .children {
    display: block;
  }
}
*/